<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>delete</h1>
    <form action="#" th:action="@{/deleteProductos}" method="post">
        <table>
            <thead>
                <tr>
                    <td>nombre</td>
                    <td>selecion</td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="i : ${lista}">
                    <td>
                        <span th:text="${i.nombre}"></span>
                    </td>
                    <td>
                        <input type="radio" th:field="${producto.id}" th:value="${i.id}">
                    </td>
                </tr>
            </tbody>
        </table>
        <input type="submit">
    </form>
</body>
</html>